html
  head
    title=title
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/main.css', rel='stylesheet')
    link(href='/bootstrap-table.css', rel='stylesheet')
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/bootstrap-table.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-76951311-1', 'auto');
      ga('send', 'pageview');

  body
    div.mainBodyContainer
      header
      main
        div.jumbotron.left-column
          h1 Hello theraguy!
          p WIP app that finds sigs that haven't been scanned yet.
          ul
            li
              p First input: copy paste existing bookmarks
            li
              p Second input: copy paste all anomalies
          
          div#Changelog
            p Changelog:
            ul
              li 
                p added expired sigs
              li
                p added eve-scout pulling for unscanned sigs
          div
            p Example data:
            ul
              li
                a(href='http://gifyu.com/images/whf1.gif', target='_blank') How to use GIF
              
        div.right-column
          form(name="wormholefilter", action="/", method="post")
            section
              div.column
                textarea(type="textarea", name="bookmarks", class="form-control", placeholder = "Your bookmarks copy paste")
              div.column
                textarea(type="textarea", name="signatures", class="form-control", placeholder = "Your cosmic anomalies copy paste")
              div.column
                input(type="submit", value="submit", class="btn-primary")
          div.tableoverflowcontainer
            if supersignatures
              table(class="table table-striped table-bordered table-hover", data-toggle="table")
                thead
                  tr: th(data-sortable="true") Sigs
                      th(data-sortable="true") Destination    
                      th(data-sortable="true") Region                
                tbody
                  for result in supersignatures
                    tr
                      td
                        p=result.signatureId
                      td
                        p=result.destination
                      td
                        p=result.region
            if expiredsignatures
              table(class="table table-striped table-bordered table-hover", data-toggle="table")
                thead
                  tr: th(data-sortable="true") Expired Signatures
                      th(data-sortable="true") Status                  
                tbody
                  for result in expiredsignatures
                    tr
                      td
                        p=result.signatureId
                      td
                        p=result.status
      footer
        div
          p
            | Developed with love by&nbsp;
            a(href='http://rosudrag.github.io/', target='_blank') DRR
          a(class='flex-center', href='https://github.com/rosudrag/EVE-Wormhole-Filterer', target='_blank') EVE-Wormhole-Filterer Opensource github repository
